/* :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
.demo-section + .demo-section {
  margin-top: 16px;
} */
#menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navLogo{
  display: flex;
}

#logo{
  width: 14em;
}







  